:root{
  --c1:#909CC2;
  --c2:#084887;
  --c3:#F58A07;
  --c4:#F9AB55;
  --c5:#F7F5FB;
  --c6:#74481b;

  --dropShadow:1;
}





body{
  background-color:var(--c2);
}

p{
  font-family:SF Pro Display;
  color:var(--c3);
  text-shadow:var(--c3) 0px 0px calc(3.5vw * var(--dropShadow));
}
#menu{
  border-radius:10px;
  width:100px;
  height:90px;
  position:absolute;
  top:2%;
  transition: all 0.5s ease;
  background-color:var(--c1);
  box-shadow: var(--c1) 0px 0px calc(2vw * var(--dropShadow));
}
#svg{
  width:90%;
  height:90%;
  position: relative;
  display: inline-block;
}


#dropdown {
  transition: all 0.5s;
  border-radius:10px;
  display: none;
  
  position: absolute;
  background-color: var(--c1);
  color:var(--c6);
  width: 17vw;
  box-shadow: var(--c1) 0px 0px calc(2vw * var(--dropShadow));
  padding: 12px 16px;
  z-index: 1;
}
.dropdownContent{
  font-size:20px;
  color:black;
  text-shadow:black 0px 0px 0px;
}

#dropdown.active {
  width:25vw;
  display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-gap: 5px;
        justify-items: flex-start;
        align-items: flex-start;
}


button{
  border-radius:10px;
}



#main{
  font-size:7vw;
}
#mainSec{
  font-size:7vw;
}
#TimeRemaining{
  margin-bottom:0%;
}
#class{
  text-shadow:var(--c3) 0px 0px calc(3.5vw * var(--dropShadow));
}



#MainClockText{
  display: grid;
        grid-template-rows: 10vh 10vh; 
        grid-template-columns: 1fr 0.1fr 1fr 0.1fr  1fr; 
        grid-gap: 5px;
        justify-items: center;
        align-items: center;
}
.colon{
  font-size:7vw;
}
.label{
  font-size:2vw;
  text-shadow:var(--c3) 0px 0px calc(3.5vw * var(--dropShadow));
}


@media screen and (max-width: 900px) {
  #class{
    text-shadow:var(--c3) 0px 0px calc(2.0vw * var(--dropShadow));
}
  #dropdown.active{
    width: 50vw;
  }
  p{
    text-shadow:var(--c3) 0px 0px calc(2.0vw * var(--dropShadow));
  }
  .label{
    text-shadow:var(--c3) 0px 0px calc(2vw * var(--dropShadow));
  }
  
  #dropdown{
    min-width: 50vw;
  }
    .label{
      font-size:4vw;
    }
      #MainClockText {
          font-size:13vw;
        }
  .colon{
  font-size:10vw;
}
  #menu{
  border-radius:10px;
  width:80px;
  height:72px;
  display: block;
  transform: translateY(75vh);
  background-color:var(--c1);
  }
  #menu.active{
    display: block;
    transform: translateY(40vh);
  }


  #svg{
    width:90%;
    height:90%;
  }

}

@media screen and (max-width: 600px) {
  #class{
  text-shadow:var(--c3) 0px 0px calc(1.5vw * var(--dropShadow));
}
  #dropdown.active{
    width: 85vw;
  }
  p{
    text-shadow:var(--c3) 0px 0px calc(1.5vw * var(--dropShadow));
  }
  .label{
    text-shadow:var(--c3) 0px 0px calc(1.5vw * var(--dropShadow));
  }
  
  
  #MainClockText {
    grid-template-columns:1fr 0.1fr  1fr;
    font-size:15vw;
  }
  #mainSec{
    font-size:10vw;
  }
  .colon{
    font-size:15vw;
  }
  .label{
      font-size:6vw;
    }
  .hourSetup{
    display:none;
  }

  
}





























