:root{
  --c1:#909CC2;
  --c2:#084887;
  --c3:#F58A07;
  --c4:#F9AB55;
  --c5:#F7F5FB;
  --c6:#74481b;;
}

@font-face {
    font-family: sfpro;
  font-style: normal;
  font-weight: normal;
    src: url("https://neptune.misterguy2013.repl.co/font/SF-Pro.otf") format("opentype");
}



body{
  background-color:var(--c2);
}

p{
  font-family:sfpro;
  color:var(--c3);
  text-shadow:var(--c4) 0px 0px 5px;
}
#menu{
  border-radius:10px;
  width:100px;
  height:90px;
  position:absolute;
  top:2%;
  background-color:var(--c1);
}
#svg{
  width:90%;
  height:90%;
}

#svg{
  position: relative;
  display: inline-block;
}

#dropdown {
  border-radius:10px;
  display: none;
  
  position: absolute;
  background-color: var(--c1);
  color:var(--c6);
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdownContent{
  font-size:20px;
  color:black;
  text-shadow:black 0px 0px 0px;
}

#dropdown.active {
  display: grid;
   grid-template-rows: 10vh; 
        grid-template-columns: 1fr; 
        grid-gap: 5px;
        justify-items: flex-start;
        align-items: flex-start;
}






#main{
  font-size:7vw;
}
#mainSec{
  font-size:7vw;
}
#TimeRemaining{
  margin-bottom:0%;
}
#class{
  text-shadow:var(--c4) 0px 0px 4px;
}



#MainClockText{
  display: grid;
        grid-template-rows: 10vh 10vh; 
        grid-template-columns: 1fr 0.1fr 1fr 0.1fr  1fr; 
        grid-gap: 5px;
        justify-items: center;
        align-items: center;
}
.colon{
  font-size:7vw;
}
.label{
  font-size:2vw;
  text-shadow:var(--c4) 0px 0px 2px;
}


@media screen and (max-width: 900px) {
    .label{
      font-size:4vw;
    }
      #MainClockText {
          font-size:13vw;
        }
  .colon{
  font-size:10vw;
}

}

@media screen and (max-width: 600px) {
  
  #MainClockText {
    grid-template-columns:1fr 0.1fr  1fr;
    font-size:15vw;
  }
  #mainSec{
    font-size:10vw;
  }
  .colon{
    font-size:15vw;
  }
  .label{
      font-size:6vw;
    }
  .hourSetup{
    display:none;
  }

  #menu{
  border-radius:10px;
  width:80px;
  height:72px;
  position:absolute;
  top:70%;
  background-color:var(--c1);
  }
  #svg{
    width:90%;
    height:90%;
  }
}
