:root{
  --c1:#909CC2;
  --c2:#084887;
  --c3:#F58A07;
  --c4:#F9AB55;
  --c5:#F7F5FB;
}


body{
  background-color:var(--c2);
}

p{
  font-family:-apple-system;
  font-size:250%;
  color:var(--c3);
  text-shadow:var(--c4) 0px 0px 5px;
}
#main{
  display: block;
  margin: 0 auto;
  text-align: left;
  position:absolute;
  width:90%;
  left: 0;
  right: 0;
}
#TimeRemaining{
  margin-bottom:0%;
}
#class{
  text-shadow:var(--c4) 0px 0px 4px;
}