:root{
  --c1:#909CC2;
  --c2:#084887;
  --c3:#F58A07;
  --c4:#F9AB55;
  --c5:#F7F5FB;
}


body{
  background-color:var(--c2);
}

p{
  font-family:-apple-system;
  color:var(--c3);
  text-shadow:var(--c4) 0px 0px 5px;
}
#main{
  font-size:5vw;
}
#mainSec{
  font-size:7vw;
}
#TimeRemaining{
  margin-bottom:0%;
}
#class{
  text-shadow:var(--c4) 0px 0px 4px;
}
#MainClockText{
  display: grid;
        grid-template-rows: 100px; /* make 2 rows of equal size */
        grid-template-columns: 1fr 1fr 1fr; /* make 3 columns of equal size */
        grid-gap: 5px; /* same size gap between rows and columns */
        justify-items: center; /* center content horizontally */
        align-items: center; /* align content at the beginning of each column */
}



    @media screen and (max-width: 900px) {

        #MainClockText {
          font-size:10vw;
            grid-template-rows: 18vh 18vh 18vh; /* create 6 rows of equal size */
            grid-template-columns: 100%; /* this is one column at 100% width */
            grid-gap: 5px;
            justify-items: center; /* make content start at the beginning of each row */
            align-items: center; /* make the content centered vertically */
        }

    }

@media screen and (max-width: 600px) {
  #MainClockText {
    font-size:15vw;
  }
  #mainSec{
    font-size:10vw;
  }
}